.page-title {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* New Message Button */
.new-message-button {
    background-color: #f4b41a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.new-message-button:hover {
    background-color: #d99910;
}

.new-message-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.new-message-form-content {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.new-message-h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.new-message-label{
    display: block;
    margin-bottom: 5px;
    color: #34495e;
}

.new-message-email,
.new-message-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.new-message-textarea {
    resize: none;
    height: 100px;
} 

.send-button {
    background-color: #f4b41a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #d99910;
}

/* Messages List */
.messages-container {
    margin-top: 20px;
}

.message-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-card p {
    margin: 0;
    color: #34495e;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c0392b;
}
